@page "/Alvenaria"

<div class="card">
    
    <label>Informe em m2 o tamanho das paredes:</label>
    <inputNumber id="TamanhoAlicerce"  ></inputNumber>

    <label>Informe as dimensoes do bloco:</label>
    <inputNumber id = "TamanhoAlicerce"  ></inputNumber>

    <label>Informe o numero de pilares:</label>
    <inputNumber id = "TamanhoAlicerce"  ></inputNumber>

    <label>Informe as dimensoes dos pilares:</label>
    <inputNumber id = "TamanhoAlicerce"  ></inputNumber>

    <label>Data de previsao de entrega:</label>
    <inputNumber id = "TamanhoAlicerce"  ></inputNumber>

</div>