@page "/Eletrica"

<div class="card">
    
    <label>Informe o número de disjuntores	:</label>
    <inputNumber id="TamanhoAlicerce"  ></inputNumber>

    <label>Informe o número de tomadas</label>
    <inputNumber id = "TamanhoAlicerce"  ></inputNumber>

    <label>Informe o número de interruptores:</label>
    <inputNumber id = "TamanhoAlicerce"  ></inputNumber>

    <label>Informe o número de lâmpadas:</label>
    <inputNumber id = "TamanhoAlicerce"  ></inputNumber>

    <label>Data de previsao de entrega:</label>
    <inputNumber id = "TamanhoAlicerce"  ></inputNumber>

</div>