@page "/Fundacao"

<div class="card">
    
    <label>Tamanho do alicerce em metros:</label>
    <inputNumber id = "TamanhoAlicerce"  ></inputNumber>

    <label>Dimensões da pedra :</label>
    <inputNumber id = "TamanhoAlicerce"  ></inputNumber>

    <label>Quantidade de estacass:</label>
    <inputNumber id = "TamanhoAlicerce"  ></inputNumber>

    <label>Dimensao da viga baldrame:</label>
    <inputNumber id = "TamanhoAlicerce"  ></inputNumber>

    <label>Data de previsao de entrega:</label>
    <inputNumber id = "TamanhoAlicerce"  ></inputNumber>

</div>
@code {

}
