@page "/Hidraulica"

<div class="card">
    
    <label>Informe o número de torneiras:</label>
    <inputNumber id = "TamanhoAlicerce"  ></inputNumber>

    <label>Informe o número de chuveiros:</label>
    <inputNumber id = "TamanhoAlicerce"  ></inputNumber>

    <label>Informe o número de saídas para esgoto:</label>
    <inputNumber id = "TamanhoAlicerce"  ></inputNumber>

    <label>Data de previsao de entrega:</label>
    <inputNumber id = "TamanhoAlicerce"  ></inputNumber>

</div>